@media only screen and (max-width: 750px) {
    body {
        /* font-size: xx-large; */
    }
    main {
        display: flex;
    }
    .layout {
        flex-direction: column;
        margin: 5%;
    }
    
    /* GET THIS TO WORK */
    p {
        font-size: larger;
    }

    /* get this to show */
    .layout .split {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        flex: 0 0 5px;
    }

    .container1 {
        margin-top: -7%;
    }

    .projects {
        flex-direction: column;
    }

}