* {
    max-width: 100%;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3a4458;
    color: #3a4458;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 30px;
    padding: 10px;
    background-color: rgb(43, 241, 248);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}


/* formatting for subheadings */

header div {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header a {
    color: #eee; 
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
}

header div ul {
    margin-left: 25px;
    flex-direction: row;
    display: inline-flex;
}

/* Formatting for the picture under the main heading */

.coverPhoto {
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-image: url("./Assets/cover.png");
}

.coverPhoto h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
    float: right;
    padding: 20px;
    color: #fff;
}


/* Formatting for the main content */

span {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #3a4458;
}

.content {
    display: inline-block;
    margin: 20px;
}

.layout {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3a4458;
    display: flex;
}

/* the line that separates the section header and section */
.layout .split {
    background-color: #3a4458;
    width: 15px;
    margin-bottom: 40px;
    margin-right: 50px;
    flex: 0 0 5px;
}

.layout h2 {
    font-size: 36px;
}

h3 {
    font-size: 12px;
    font-weight: normal;
}


/* Containers used for Flexbox */

.container1 {
    flex: 0 0 20%;
    text-align: right;
    margin-right: 50px;
}

.container1 img {
    margin-top: 10px;
    height: 275px;
}

.container2 {
    /* flex: 0 0 70%; */
    /* margin-left: 50px; */
    margin-bottom: 50px;
}

.container2 ul li {
    padding-top: 10px;
}

.container2 a {
    text-decoration: underline;
    color: #3a4458;
}

/* combines two container3 elements into one to flex in a row */
.projects {
    display: flex;
    padding-top: 40px;
}

/* container3: spaces the small boxes in the same row apart from each other */
/* container4: large image above the smaller ones */
.container3,
.container4 {
    margin-right: 50px;
    width: 100%;
}

/* headers for each photo */
#text {
    margin-top: -80px;
    margin-left: 0;
    font-size:18px;
    background-color: rgb(43, 241, 248);
    padding: 10px;
    position: absolute;
    text-align: center;
}

/* smaller image for each project (not the group project) */
.container3 img,
.container4 img {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(43, 241, 248);
    height: 250px;
    width: 100%;
}

/* the image glows upon the mouse hovering over it */
.container3 img:hover,
.container4 img:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgb(0, 255, 255);
    -moz-box-shadow: 0px 0px 30px 0px rgb(0, 255, 255);
    box-shadow: 0px 0px 30px 0px rgb(0, 255, 255);
}

/* to indicate once the project is clicked on */
.container3 img:active,
.container4 img:active {
    border-width: 10px;
}

/* Positions the text box over the image */
.container3 #absolute,
.container4 #absolute {
    
}

/* the contact footer */
.container5 {
    justify-content: center;
    margin-bottom: 20px;
}

.container5 .layout {
    flex-direction: column;
}

.container5 h2,
.container5 li {
    margin: 5px;
}

footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #3a4458;
}

footer h2,
footer p,
footer ul,
footer a:link,
footer a:visited {
    color: #fff;
}

footer a:hover {
    color: rgb(43, 241, 248);
}